@import "./variables";


.tabcordions {
    // Prevents uncontrolled tab padding.
    font-size: 0;

    .tabcordion {
        display: inline;
        padding-right: 5px;

        .label {
            @include no-select;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
            display: inline-block;
            padding: 8px 12px;
            position: relative;
            vertical-align: bottom;
            margin-bottom: 0;
            color: $tabcordions-text-color;
            outline: 0;
            font-size: 13px;
        }

        .selector {
            clip: rect(0 0 0 0);
            height: 1px;
            opacity: 0;
            position: fixed;
            width: 1px;

            // Active tab.
            &:checked + .label {
                border: 1px solid #ddd;
                border-bottom: 1px solid #fff;
                color: $tabcordions-spot-color;
                // Needed for FF/IE.
                z-index: 100;
            }

            // An inactive tab that's being hovered.
            &:not(:checked):hover + .label {
                background: #eee;
                cursor: pointer;
                color: $tabcordions-spot-color;
            }

            // Shows the matching tab content.
            &:checked ~ .panel {
                display: inline;
            }
        }

        // The default hidden state for tab content.
        .panel {
            display: inline-block;
            overflow: hidden;
            height: 0;
            width: 0;

            .content {
                @include border-box;
                width: 100%;
                float: left;
                padding-top: 20px;
                margin-top: -1px;
                background: #fff;
                border-top: 1px solid #eee;
                font-size: 0.8rem;
            }
        }
    }

    // Accordion-specific styling.
    &.accordion {
        .tabcordion {
            padding: 0;

            .label {
                @include border-box;
                border: 1px solid #eee;
                float: left;
                width: 100%;
                margin-bottom: 0;
                padding: 10px;

                &:after {
                    content: "\25be";
                    text-decoration: inherit;
                    display: inline-block;
                    speak: none;
                    float: right;
                    font-size: 16px;
                }
            }

            .selector {
                // Active tab.
                &:checked + label {
                    border: 1px solid #ddd;
                    color: $tabcordions-spot-color;

                    &:after {
                        content: "\25b4";
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                // Active accordion.
                &:checked ~ .panel > .content {
                    max-height: 2048px;
                    border: 1px solid #ddd;
                    margin-bottom: 10px;
                }

                // Shows the matching tab content.
                &:checked ~ .panel {
                    display: inline;

                    border: 1px solid transparent;

                    .content {
                        padding: 5px;

                        * {
                            opacity: 1;
                        }
                    }
                }

                // An inactive tab that's being touched doesn't have hover.
                &:not(:checked):hover + .label {
                    background: #fff;
                    cursor: pointer;
                    color: $tabcordions-text-color;
                }

            }

            // Inactive accordion.
            .panel {
                display: inline;

                .content {
                    overflow: hidden;
                    max-height: 0;
                    border: 1px solid transparent;
                    margin-bottom: 0;

                    * {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
